h1{font-size: 40px;color: aquamarine;background-color: rgb(248, 247, 246);}
body{align-items: center; height: 100vh; justify-content: center;text-align:justify;}
table,td,th{
    border-collapse: collapse;
    border: 2px solid black;
}
th{
    background-color: green;
    color: white;
}
p.pp{border-style: solid;font-family :Arial, Helvetica, sans-serif}
.sc{outline: green;}

.ps{font-size: medium;font-weight: 700;font-style: inherit;color:brown;text-indent: -2em;
text-decoration:underline;}

table{
    display:table;

}

.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.top li {
    float: left;
}
.top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:large;
}
.top li a:hover {
    background-color: #111;
}


.left {
                overflow: hidden;   
                margin-right: 10px;
                margin-top: 50px;
                display:block;
            }
.left img,.left table,.left form {
                max-width: 100%;
            }

.right-blank-area {
                float: right;                
                width: 45%;                
                background-color: #f8f8f8;
                border: 2px dashed #cccccc;
                border-radius: 12px;
                padding: 20px 15px;
                margin-left: 20px;           /* 与左侧内容保持间距 */
                margin-right: 1px;
                margin-top: auto;
                margin-bottom: auto;
                box-shadow: 0px 0px 4px 4px;

                min-height: 120%;
                box-shadow: 0 2px 6px rgba(0,0,0,0.05);
                text-align: center;
                color: #aaa;
                font-size: 16px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background: url(../images/logo.jpg) right bottom no-repeat;
                display:flex;
            }
.markin{
    display:flex;flex-direction: column;
    padding:10px 15px;
    border:2px  dashed #cccccc;
    width: 40%;
    margin-top: 5px;
    border-radius: 6px;
    }

.markin-left textarea{


    width: 80%;
    height:200px;
    border:none;
    font-family:monospace;
    font-size:14px;
}

.markout{
    display:flex;
    padding:10px 15px;
    border:2px  dashed #cccccc;
    width: 40%;
    margin-top: 5px;
    border-radius: 6px;
    }

#left #right{
height:800px;
overflow-y:auto;
}